@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.task-item {
    background-color: #d6d5d4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item .task-content {
    flex: 1;
}

.task-item h3 {
    margin: 0;
    font-size: 17px;
}

.task-item p {
    margin: 5px 0 0 0;
    font-size: 15px;
}

.task-item button {
    background-color: #d6d5d4;
    color: black;
    padding: 5px 20px;
    border-color: black;
    border-radius: 4px;
    border-width: 1.5px;
    border-style: solid;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    align-self: center;
}

.task-item button:hover {
    background-color: #c4c3c2;
}